<%- include('includes/head') %>
  <%- include('includes/nav') %>

    <div class="container">
      <div class="row">
        <div class="col-lg-2"></div>

        <div class="col-lg-8 my-3">
          <h1 class="text-center">Agenda</h1>
          <p class="text-center lead">Seus contatos estão abaixo</p>

          <%- include('includes/messages') %>

            <% if (contatos.length> 0) { %>
              <div class="table-responsive">
                <table class="table table-bordered table-striped my-3">
                  <thead class="thead-dark">
                    <tr>
                      <th>Nome</th>
                      <th>Sobrenome</th>
                      <th>Email</th>
                      <th>Telefone</th>
                      <th>Ações</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% contatos.forEach(contato=> { %>
                      <tr>
                        <td>
                          <%= contato.nome %>
                        </td>
                        <td>
                          <%= contato.sobrenome %>
                        </td>
                        <td>
                          <%= contato.email %>
                        </td>
                        <td class="telefone">
                          <%= contato.telefone %>
                        </td>
                        <td>
                          <a href="/contato/index/<%= contato._id %>" class="btn btn-warning btn-sm">Editar</a>
                          <a class="btn btn-danger btn-sm" href="/contato/delete/<%= contato._id %>">Excluir</a>
                        </td>
                      </tr>
                      <% }); %>
                  </tbody>
                </table>
              </div>
              <% } else { %>
                <p class="text-center lead">Não existem contatos na sua agenda.</p>
                <% } %>
        </div>

        <div class="col-lg-2"></div>
      </div>
    </div>

    <%- include('includes/footer') %>